
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Open+Sans:wght@400;600&display=swap"
  rel="stylesheet"
/>

<header class="header">
  <mat-toolbar color="primary">
    <div class="logo">
      <a routerLink="/" class="logo-link">
        <!-- Replace 'Your Logo' with your actual logo image or text -->
      </a>
    </div>
    <div class="spacer"></div>
    <nav class="navbar">
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/about">About</a>
      <a mat-button routerLink="/projects">Projects</a>
      <a mat-button routerLink="/contact">Contact</a>
    </nav>
  </mat-toolbar>
</header>
