<div class="hero" id="hero">
<div class="hero-container">
  <div class="hero-content">
    <div class="hero-text">
      <h1 class="hero-heading">
        <span>Hello, I'm</span><br />
        <span class="highlight-text">Saurabh&nbsp;</span
        ><span class="highlight-text"> Waje</span><br />
        <span class="role-text">a Software Developer</span>
      </h1>
      <p class="hero-description">
        Full-Stack Developer | Building High-Performance Web Apps with Node.js,
        NestJS & Angular
      </p>
      <div class="download-button">
        <a
          href="../../assets/resume/Resume_2024-03-20_7694278.pdf"
          download="resume.pdf"
          class="button primary"
        >
          Download Resume
        </a>
      </div>
    </div>
    <div class="hero-image">
      <img src="../../assets/images/myFinal.jpg" alt="Your Photo" />
    </div>
  </div>
</div>
</div>

<!-- <app-about></app-about> -->
<!-- <router-outlet></router-outlet> -->
