/* Add this to your global styles or app.component.css */
html {
  scroll-behavior: smooth;
}


/* Ensure proper alignment of text and image */
.hero-container {
  /* background-color: rgb(245, 229, 213); */
  background-color: #ffecde;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 50px;
  height: auto;
}


/* Style for hero content */
.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

/* Text content */
.hero-text {
  max-width: 50%; /* Adjusted width for better balance */
}

.hero-heading {
  font-size: 2.5rem;
  color: #333; /* Dark text color */
  line-height: 1.2; /* Adjusted line height */
}

.hero-heading span {
  display: block;
}

.highlight-text {
  font-weight: bold; /* Make the name bold */
  font-size: 2em; /* Increase font size of the name */
  color: #ff5733;
  margin-bottom: 0px; /* Decreased margin */
  margin-top: 0; /* Removed top margin */
}

.role-text {
  margin-top: 0px; /* Decreased margin */
  font-size: 1em; /* Adjust font size of the role text */
  color: #333; /* Set color of "And I'm" to black */
}

.hero-description {
  font-size: 1.3em;
  margin-top: 0px; /* Adjusted margin */
  color: #333;
}

/* Button styling */
.download-button {
  margin-top: 20px; /* Adjusted margin */
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.primary {
  background-color: #ff5733; /* Match button background color with hero component color */
  color: white; /* Text color */
}

.primary:hover {
  background-color: #e74c3c; /* Darker shade on hover */
}

/* Image content */
.hero-image {
  max-width: 50%; /* Adjusted width for better balance */
  text-align: right; /* Align image to the right */
}

.hero-image img {
  width: 70%; /* Ensure image fills its container */
  max-width: 100%; /* Ensure image doesn't exceed its container's width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .hero-container {
    flex-direction: column; /* Stack content vertically on smaller screens */
    text-align: center; /* Center-align content */
  }

  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .hero-text,
  .hero-image {
    max-width: 100%; /* Adjusted width for smaller screens */
    text-align: center; /* Center-align content */
  }

  .hero-text {
    margin-bottom: 20px; /* Adjusted margin */
  }
}
