/* skills.component.css */
/* Add this to your global styles or app.component.css */
html {
  scroll-behavior: smooth;
}

.skills-section {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(247, 235, 223);
  /* background-color: #e7e9e2; */
  padding: 3rem 0;
  text-align: center;
  height: auto;
  min-height: 100vh; /* Set height to 100vh */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url('../../assets/images/gfds.jpg');  /* Optional: add texture image */
  /* background-size: cover; */
}

.section-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #333;
}

.skills-container {
  max-width: 800px;
  margin: 0 auto;
  
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skill-item {
  margin: 1rem;
  padding: 1.5rem;
  background-color: rgb(247, 242, 236);
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.skill-item i {
  font-size: 4rem; /* Increased icon size */
  color: #007bff;
  transition: color 0.3s ease;
}

.skill-item:hover i {
  color: #333;
}

.skill-name {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #333;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .skills-list {
    flex-direction: column;
    align-items: center;
  }

  .skill-item {
    width: 90%;
    max-width: 300px;
    margin: 0.5rem auto;
  }

  .skills-container {
    max-width: 90%;
  }
}

/* Add to your CSS */
.toggle-button {
  margin-top: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-button:hover {
  background-color: #0056b3;
}

.additional-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

