<!-- app.component.html -->
<!-- <app-header></app-header> -->
<div class="page-content">
  <app-hero></app-hero>
  <app-about></app-about>
  <app-skills></app-skills>
  <app-cta></app-cta>
  <app-contact></app-contact>
  <footer class="footer">
    <p>
      <span class="mnb">{{ currentYear }}</span> By Saurabh Waje.
    </p>
  </footer>
</div>
<!-- <router-outlet></router-outlet> -->

<!-- <nav>
    <a routerLink="/hero" routerLinkActive="active">hero</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/skills" routerLinkActive="active">Skills</a>
    <a routerLink="/cta" routerLinkActive="active">Cta</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
  </nav>
   -->

<!-- <app-header></app-header> -->
<!-- <app-hero></app-hero> -->
<!-- <router-outlet></router-outlet> -->

<!-- <div class="container">
    <app-hero id="about"></app-hero> 
    <app-about id="skills"></app-about>  
    <app-skills id="contact"></app-skills>  
</div> -->
