<section class="journey-section">
  <h2 class="section-title">My Journey</h2>
  <div class="journey-container">
    <div class="experience-box" [@boxAnimation]="boxState">
      <h3 class="journey-title">Experience</h3>
      <div class="journey-content">
        <p class="job-role">Full-Stack Developer | CompuMatrice</p>
        <p class="duration">Aug 2022 - Dec 2023</p>
        <div class="job-description">
          <ul>
            <li>
              Contributed to the delivery of over 10 web application components,
              microservices, and POCs using Angular, NestJS, Node.js, and Java,
              ensuring seamless integration and comprehensive documentation.
            </li>
            <li>
              Collaborated with cross-functional teams in the design,
              development, and maintenance of these applications, resulting in a
              measurable 5-8% performance enhancement, reduced server load, and
              improved user experience.
            </li>
            <li>
              Played a key role in streamlining technology systems by
              consolidating legacy platforms, leading to a significant 15%
              reduction in operational costs and improved scalability.
            </li>
            <li>
              Successfully participated in executing a POC integrating Twilio,
              NestJS, Angular, and Dialogflow, with the potential for annual
              cost savings ranging from 5-20%.
            </li>
            <li>
              Contributed to optimizing testing processes, resulting in a
              notable 25-30% reduction in testing time and enhanced overall
              system performance.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="education-box" [@boxAnimation]="boxState">
      <h3 class="journey-title">Education</h3>
      <div class="journey-content">
        <p class="degree">Bachelor of Engineering in Computers</p>
        <p class="graduation-year">Graduated: 2022</p>
        <div class="education-description">
          <p>
            Specialized in data structures, object-oriented programming,
            software development, and more.
          </p>
        </div>
        <p class="degree">12th Science + Computer Science Vocational</p>
        <p class="graduation-year">Completed: 2018</p>
        <div class="education-description">
          <p>
            Science curriculum including physics, chemistry, mathematics, and
            computer science. Developed teamwork and creativity through
            practical exercises.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <app-contact></app-contact> -->
