/* Add this to your global styles or app.component.css */
html {
  scroll-behavior: smooth;
}

.journey-section {
  padding: 3rem 0;
  text-align: center;
  min-height: 80vh;
  font-family: 'Montserrat', sans-serif;
  background-color: #f6dbed;
  height: auto;
  /* background-image: url('../../assets/images/greg-rosenke-xsb1UENAwL4-unsplash.jpg');
  background-size: cover;
  background-position: center; */
}

.section-title {
  font-size: 2rem;
  margin: 5% 0 2rem;
  color: #333;
}

.journey-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.experience-box,
.education-box {
  width: calc(46% - 20px);
  margin: 10px;
  padding: 1rem;
  background-color: #f8edf3;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.education-box {
  margin-left: 20px;
}

.experience-box:hover,
.education-box:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.journey-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #007bff;
}

.job-role,
.degree {
  margin-top: 0.5rem;
  color: #666;
  font-weight: bold;
}

.duration,
.graduation-year {
  margin-top: 0.5rem;
  color: #999;
}

.job-description ul {
  padding-left: 20px;
  margin-top: 0.5rem;
}

.job-description li {
  margin-bottom: 0.5rem;
}

@keyframes boxSlideIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.arrow-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1.5rem;
  color: #666;
}

.arrow-icon:hover {
  cursor: pointer;
}

.cta-box {
  margin: 10px;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.cta-box:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Add this to your global styles or app.component.css */

/* Button styles */
button {
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none; /* Remove button border */
  padding: 0.5rem 1rem; /* Add padding to the button */
  border-radius: 5px; /* Add border radius to the button */
  cursor: pointer; /* Add cursor pointer on hover */
  transition: background-color 0.3s, color 0.3s; /* Add transition effect */
}

button:hover {
  background-color: #0056b3; /* Change background color on hover */
}
